  .swiper {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .swipe-wrapper{
    height: 300px;
  }

  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .containerimage{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:100%;
    flex-wrap: wrap;
  }
  
  .imagecarrousel{
    position: relative;
    width: 25%;
    height: 100%;
  }

