  .swiper {
    position: relative;
    width: 100%;
    height: 350px;

  }

  .swipe-wrapper {
    height: 350px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containerimage {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }

  .imagecarrousel {
    position: relative;
    width: 25%;
    height: 100%;
  }

  .imagen {
    width: 100%;
    height: 350px;

  }

  .tituloCarrouselh1{
    display: flex;
    justify-content: center;
    align-items:end;
    row-gap: 20px;
    height: 150px;
    background-color: #fff;
    font-family: sans-serif;
  }

  .tituloPopularOne {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 60%;
    padding-top: 30px;
    font-size: 55px;
    color:#000000;
    margin: 0;
    text-shadow: -5px 0px 7px rgba(60, 60, 223, 0.882); 
  }
  
  .tituloPopularDos {
    display: Flex;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size: 55px;
    color:#fff;
    text-shadow: -3px 0px 7px rgba(41, 41, 242, 0.79); 
    margin-top: 10px;
  }

  h1 {
    margin: 0;
  }

  .tituloCarrousel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #ffffff6b;
    opacity: 5;
    color: #000000;
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 20px;
    font-family: sans-serif;
  }

  @media screen and (max-width: 390px) {

    .swiper {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    .swiper-initialized .swiper-vertical .mySwiper {
      display: flex;
      flex-direction: column;
    }

    .swipe-wrapper {
      height: auto;
      width: 100%;
      flex-wrap: wrap;
    }


    .containerimage {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
    }

    .imagecarrousel {
      position: relative;
      width: 100%;
      height: auto;
    }

    .tituloCarrousel {
      font-size: 20px;
    }

     .tituloPopular {
      font-size: 22px;
    }


  }


  @media (min-width: 391px) and (max-width: 768px) {

    .swiper {
      display: flex;
      flex-direction: row;
      height: auto;
      flex-wrap: wrap;
    }

    .swiper-initialized .swiper-vertical .mySwiper {
      display: flex;
      flex-direction: row;
    }

    .swipe-wrapper {
      height: auto;
      width: 100%;
      flex-wrap: wrap;
    }


    .containerimage {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
    }

    .imagecarrousel {
      position: relative;
      width: 50%;
      height: auto;
    }

    .imagen {
      width: 100%;
      height: 300px;
    }

    .tituloCarrousel {
      font-size: 20px;
    }
    .tituloPopular {
      font-size: 28px;
    }
  }