.textoEnConstruccion{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cards{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    column-gap: 20px;
    row-gap: 40px;
    column-gap: 40px;
    margin-top: 20px;
}

.cardCities{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:300px;
    height: auto;
}

.cardCities :hover{
    cursor: pointer;
    opacity: 0.8;
     /* transform: scale(1.1) ;
    
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;  */
}

.cardContent{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
    row-gap: 20px;
    min-height: 50px;
    font-size: 10px;
}

.itemsbodycard{
    display:flex;

}

.progress{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: auto;
}

.readMore{
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width: 440px){
    .textoEnConstruccion > h1{
        font-size: 1.5em;
        text-align: center; 
        flex-wrap: wrap;
        width:80%;
    }

}

@media screen and (max-width: 540px){
    .textoEnConstruccion > h1{
    text-align: center;
    flex-wrap: wrap;
    width:80%;
}
}