.containerDetails{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 50px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    position: relative;
}

.card > .imagenDetails{
    display: flex;
    position: relative;
    min-width: 300px;
    max-width: 550px;
    width: auto;
}

.textDetails{
    display: flex;
    position: relative;
    flex-direction: column;
}

