.containerDetails{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    height: auto;
    width:auto;
    flex-wrap: wrap;
}

.backButton{
    display: flex;
    align-items: center ;
    justify-content: flex-end;
    width:100px;
    height: 150px;
    padding-left: 20px;
}

.cardDetails{
    display: flex;
    position: relative;
    width: 100%;
}

.cardDetails > .imagenDetails{
    display: flex;
    position: relative;
    min-width: 300px;
    max-width: 600px;
    width: 500px;
    
    object-fit: cover;
}

.imagenDetails {
    max-width: 620px;
    width: 600px;
    height: auto;

} 
.textDetails{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: justify;
    padding: 0;
}

.countainerButtons{
    display: flex;
    column-gap: 7px;
    flex-wrap: wrap;
    row-gap: 10px;
    
}

.buttonItinerary{
    display:flex;
    width:120px;
}

 a >.buttonItinerary:hover {
  background-color:forestgreen;
}




@media screen and (max-width: 440px){

   .imagenDetails{
        display: flex;
        position: relative;
        max-width: 300px;
        width: 280px;
        justify-content: center;
        object-fit: cover;
        align-items: center;
        object-fit: contain;
    }
}

@media screen and (min-width: 540px) and (max-width: 900px) {

    .imagenDetails{
        display: flex;
        position: relative;
        min-width: 400px;
        max-width: 400px;
        width: 400px; 
        object-fit: contain;
    }
    
    img > .imagenDetails {
        max-width: 300px;
        width: 300px;
        height: auto;
        object-fit: contain;
    
    } 
}

