.footer{
    display: flex;
    flex-direction: row;
    height: 100px;
    width:100%;
    background:rgb(51, 112, 226);
    margin-top: 60px;
}

.footer .links{
    position: relative;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    color:#fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.copyright{
    justify-content: center;
    display: flex;
    background-color: black;
    background:rgb(51, 112, 226);
    height: auto;
}
  
.copyright h4{
    color: rgb(12, 2, 2);
}


@media screen and (max-width: 440px) 

{

    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .footer .links{
        position: relative;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        color: white;
        flex-wrap: wrap;
        height: auto;
    }
    


}