.footer{
    display: flex;
    flex-direction: row;
    height: 200px;
    width:100%;
    background-color: rgb(0, 132, 255);
    margin-top: 60px;
}

.footer .links{
    position: relative;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    color: white;
}

.copyright{
    justify-content: center;
    display: flex;
    background-color: black;
    height: auto;
}
  
.copyright h4{
    color: white;
}


@media screen and (max-width: 440px) 

{

    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .footer .links{
        position: relative;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        color: white;
        flex-wrap: wrap;
        height: auto;
    }
    


}