.main{
    display:flex;
    flex-direction: column;
    width:100%
}

.RowMain{
    display:flex;
    width:90vw;
}

.NavBar{
    width:100%;
    height: 150px;
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    margin-right: 30px;
    background: linear-gradient(#ffffffd6, #040f85);
}

.Navli{
    position: relative;
    text-decoration: none;
    list-style: none;
}

.Navli:hover{
  cursor: pointer;
  transform: scale(1.3);
}

.logoYtext{
    display:flex;
    align-items: center;
    flex-direction: row;
}

.Logo{
    width: 120px;
    height: 135px;
    display: flex;
}

.MyItinerary{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}



.User{
    width:70px;
    height: 70px;
    border-radius: 48%;
}


@media screen and (max-width: 440px) {
    .Navli{
      display:none
    }

    .User{
        display:none;
    }

    .menuHamburguesa{
        display:flex;
        width:50px;
        height: 50px;
        margin-right: 20px;
    }



}