.NavBar{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
   background-color: rgb(0, 132, 255);
    flex-direction: row;
    text-decoration: none;

}

.Navli{
    text-decoration: none;
    width: 20%;
    list-style: none;
    color: white;
    
}
.Logo{
    width: 120px;
    height: 135px;
    display: flex;
}