.containerSearch{
    height: 80px;
    display: flex;;
    justify-content:flex-end;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search{
    height: 35px;
    display: flex;;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    border-radius: 20px;
}


.search h1{
    display:flex;
    color:rgba(234, 240, 246, 0.8);
    justify-content: center;
    align-items: center;
    width:90%;
    margin:0;
}

.search .input{
    width:200px;
    height: 40px;
    justify-content: center;
    align-items:center;
    border: none;
    border-radius: 10px;
}