.bulbs{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bulb{
    position: relative;
    float: right;
    background-image: url(https://lh4.googleusercontent.com/-katLGTSCm2Q/UJC0_N7XCrI/AAAAAAAABq0/6GxNfNW-Ra4/s300/lightbulb.png);
    z-index: 800;
    width: 150px;
    height: 150px;
    float: right;
}
